aclocal.m4
autom4te.cache
autoscan.log
config.h.in
configure
depcomp
Makefile.in
missing
install-sh
config.guess
config.status
test-driver
config.sub
compile
config.h
config.log
stamp-h1
test-suite.log
Makefile
*.o
